<fragment>
    <aside class="main-sidebar">
        <section class="sidebar">
	    <div class="user-panel">
		<div class="pull-left image">
		    <img src="/assets/dist/img/avatar5.png" class="img-circle" alt="User Image" />
		</div>
		<div class="pull-left info">
		    <p class="user-name">BrandVibe</p>
		    <a href="javascript:void(0);"> <i class="fa fa-circle text-success"> </i> Online</a>
		</div>
	    </div>
	    <ul class="sidebar-menu">
		<li class="header">MAIN MENU</li>
		<li class="dashboard">
		    <a href="/">
			<i class="fa fa-dashboard"> </i> <span>Dashboard</span>
		    </a>
		</li>
		<li class="treeview companies">
		    <a href="javascript:void(0);">
			<i class="fa fa-th"> </i> <span>Companies</span> <i class="fa fa-angle-left pull-right"> </i>
		    </a>
		    <ul class="treeview-menu">
			<li class="add-company"> <a href="/pages/sales/add_sales.html"> <i class="fa fa-circle-o"> </i> Add Company</a> </li>
			<li class="view-company"> <a href="index2.html"> <i class="fa fa-circle-o"> </i> View Companies</a> </li>
		    </ul>
		</li>
		<li class="questionnaire">
		    <a href="javascript:void(0);">
			<i class="fa fa-list-alt"> </i> <span>Questions</span>
		    </a>
		</li>
		<li class="treeview survey">
		    <a href="javascript:void(0);">
			<i class="fa fa-file-text"> </i> <span>Surveys</span> <i class="fa fa-angle-left pull-right"> </i>
		    </a>
		    <ul class="treeview-menu">
			<li class="add-survey"> <a href="/"> <i class="fa fa-circle-o"> </i> Add Survey</a> </li>
			<li class="view-survey"> <a href="/"> <i class="fa fa-circle-o"> </i> View Surveys</a> </li>
		    </ul>
		</li>
		<li class="treeview reports">
		    <a href="javascript:void(0);">
			<i class="fa fa-pie-chart"> </i> <span>Reports</span> <i class="fa fa-angle-left pull-right"> </i>
		    </a>
		    <ul class="treeview-menu">
			<li class="general-report"> <a href="/"> <i class="fa fa-circle-o"> </i> General Analysis</a> </li>
		    </ul>
		</li>
	    </ul>
        </section>
    </aside>
</fragment>
