<fragment>
    <footer id="home" class="clearfix">
        <p>Copyright copy 2017-2018 BrandVibe. All rights reserved.</p>
        <ul>
            <!--<li> <a href="#0" class="animated_link">Terms and conditions</a> </li>-->
            <!--<li> <a href="#0" class="animated_link">Contacts</a> </li>-->
        </ul>
    </footer>
</fragment>