<fragment>
    <header>
        <div class="container-fluid">
            <div class="">
                <div class="col-xs-3">
                    <div class="logo">
                        <a href="/appdashboard"> <img src="../assets/app/img/newlogo.png" /> </a>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div id="social">
                        <ul>
			    <!--                            <li> <a href="#0"> <i class="icon-facebook"> </i> </a> </li>
							<li> <a href="#0"> <i class="icon-twitter"> </i> </a> </li>
							<li> <a href="#0"> <i class="icon-google"> </i> </a> </li>
							<li> <a href="#0"> <i class="icon-linkedin"> </i> </a> </li>-->
                        </ul>
                    </div>
                    <!-- /social -->
                    <nav>
                        <ul class="cd-primary-nav">
                            <!--<li> <a href="index.html" class="animated_link">Login</a> </li>-->
                            <li> <a href="/appdashboard" class="animated_link app_dashboard">Dashboard</a> </li>
                            <!--<li> <a href="questionare.html" class="animated_link app_dashboard">Questionare</a> </li>-->
                            <li> <a href="filled_survey.html" class="animated_link app_filled_survey">Filled Survey</a> </li>
                            <li> <a href="likes.html" class="animated_link app_likes">Likes</a> </li>
                            <li> <a href="profile.html" class="animated_link app_profile">Profile</a> </li>
                            <li> <a href="javascript:void(0);" class="animated_link app_logout">Logout</a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</fragment>