<fragment>
    <div class="modal fade in question-popup modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
		    <h4 class="modal-title" id="termsLabel">Survey Submitted</h4>
		</div>
		<div class="modal-body">
		    <p>Thank you for filling out this survey. <strong>RS. 30</strong>,  has been added into your account.</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 question-submit" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>
    <div class="modal fade in empaty-question modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <h4 class="modal-title pull-left" id="termsLabel">Answer</h4>
		    <button type="button" class="close icon-cancel-circled-1 fill-question" data-dismiss="modal" aria-hidden="true"></button>
		</div>
		<div class="modal-body">
		    <p class="modalWarning">Please answer the question....</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 fill-question" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>
    <div class="modal fade in update-profile success-message modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <h4 class="modal-title pull-left" id="termsLabel">Profile</h4>
		    <button type="button" class="close icon-cancel-circled-1 fill-question" data-dismiss="modal" aria-hidden="true"></button>
		</div>
		<div class="modal-body">
		    <p class="modalWarning">Profile Updated Successfully....</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 closed" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>
    <div class="modal fade in update-profile error-message modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <h4 class="modal-title pull-left" id="termsLabel">Profile</h4>
		    <button type="button" class="close icon-cancel-circled-1 fill-question" data-dismiss="modal" aria-hidden="true"></button>
		</div>
		<div class="modal-body">
		    <p class="modalWarning">Profile Is Not Updated....</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 closed" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>
    <div class="modal fade in wrong-question modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close icon-cancel-circled-1 error-question" data-dismiss="modal" aria-hidden="true"> </button>
		    <h4 class="modal-title" id="termsLabel">Error</h4>
		</div>
		<div class="modal-body">
		    <p class="modalWarning">Something Went Wrong....</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 error-question" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>

    <div class="modal fade in wrong-question modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close icon-cancel-circled-1 error-question" data-dismiss="modal" aria-hidden="true"> </button>
		    <h4 class="modal-title" id="termsLabel">Error</h4>
		</div>
		<div class="modal-body">
		    <p class="modalWarning">Something Went Wrong....</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 error-question" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>

    <div class="modal fade in refresh-likes-modal modal-small" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close icon-cancel-circled-1 likes-cross-close" data-dismiss="modal" aria-hidden="true"> </button>
		    <!--			<h4 class="modal-title" id="termsLabel">Error</h4>-->
		</div>
		<div class="modal-body">
		    <p class="modalWarning">Are you sure you want to refresh the list?</p>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 likes-okay" data-dismiss="modal">Okay</button>
		</div>
	    </div>
	</div>
    </div>
    <!--asd88888888888888888888888888888888888888888888888asd-->



    <div class="modal fade in search-modal" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content SearchModal">
		<div class="modal-header">
		    <div class="col-md-12 col-sm-12 pull-left">
			<div class="form-group surveySearch">
			    <input type="text" class="form-control modalSearch" id="search" placeholder="Search Keywords" />
			    <span class="input-group-btn">
				<i class="icon-search"> </i>
			    </span>
			</div>
		    </div>

		</div>
		<div class="modal-body">
		    <span class="no-record hide">No Record Found...</span>
		    <ul class="allSurveys col-md-12 search_ul list-item" data-type="1st_ul" data-num="0" style="height: auto;margin-top: 10px;">
			<li class="col-md-12 surveyListing search_li" data-value="">
			    <a href="javascript:void(0);" class="col-md-12 row search_href" data-value="">
				<h3 class="main_questions col-md-9 wizard-header" title="" data-placement="top"> 
				    <!--<label class="survey-count"> d</label>-->
				    <span class="search_title"> </span>
				</h3>
				<!--				<span class="col-md-2 pull-right surveyDet">
								    <i class="pull-right surveyDT publish-date search_date"> <span> </span> </i>
								</span>-->
			    </a>
			</li>
			<div style="display: none;" class="search_stop"> </div>
		    </ul>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn_1 search-cross-close" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	    </div>
	</div>
    </div>

    <div id="web-popup"></div>


    <!--asd88888888888888888888888888888888888888888888888asd-->
    <div class="modal-backdrop fade in" style="display: none;"> </div>
</fragment>