<fragment>
    <div class="cd-overlay-nav">
        <span> </span>
    </div>
    <div class="cd-overlay-content">
        <span> </span>
    </div>
    <a href="javascript:void(0);" class="cd-nav-trigger">Menu<span class="cd-icon"> </span> </a>
</fragment>