/*Custom CSS*/

/*HEADER*/
.logo{
    width: 160px;    
}
.logo a,
.logo a img{
    width: 100%;
}
.loginImg{
    width: 160px;
}
.wrapper .cd-nav-trigger{
    top: 10px;
}
/*End - HEADER*/


/*COLORS*/
main.colorBlue #left_form{
    background: #409fff;
    background-color: #409fff;
}
main.colorOrange #left_form{
    background: #F60;
    background-color: #F60;
}
main.colorPurple #left_form{
    background: #662d91;
    background-color: #662d91;
}
main.colorRBlue #left_form{
    background: #1b769c;
    background-color: #1b769c;
}
main.colorGray #left_form{
    background: #555555;
    background-color: #555555;
}
main.colorFBblue #left_form{
    background: #4267b2;
    background-color: #4267b2;
}
main.colorFav #left_form{
    background: #9c1b39;
    background-color: #9c1b39;
}
/*FB#4267b2*/
/*Fav#9c1b39*/
/*End - COLORS*/

.loginMain{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.fBLogin,
button.confirm.btn.btn-lg.btn-primary{
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    outline: none;
    text-align: center;
    background: #409fff;
    position: relative;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: inherit;
    padding: 10px 30px 10px 20px;
    text-decoration: none;
    transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    display: block;
    float: none;
    margin: 0 auto;
}
button.confirm.btn.btn-lg.btn-primary{
    padding: 5px 28px;
}
.allSurveys{
    margin-top: 30px;
    list-style: none;
    height: 280px;
}
.surveyListing{
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 0;
}
.surveyListing + .surveyListing{
    margin-top: 10px;
}
.surveyListing a,
.surveyListing a *{
    transition: all 0.2s ease !important;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
}
.surveyListing a,
.surveyListing a h3,
.surveyListing a h3 *{
    color: #555;
}
.surveyListing a h3{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    position: relative;
    line-height: normal;
    padding-left: 3px;
    outline: none;
    /*    margin-top: 7px;*/
}
.surveyListing a h3 span{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.surveyListing a h3 label{
    /*    position: absolute;
	left: -16px;
	top: 1px;*/
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    width: 30px;
}
.surveyListing a:hover h3,
.surveyListing a:hover h3 label{
    color: #409fff;
}
/*.surveyListing h3:hover,
.surveyListing label{
    color: #409fff;
}*/

.surveyDet{
    padding: 0;
}
.surveyDT{
    font-size: 11px;
    color: #aaa;
    margin-top: 3px;
    text-align: right;
}
.surveyListing a:hover .surveyDT{
    color: #666;
}
.surveyListing .gender, .surveyListing .relation{
    width:71%;
}
.surveySearch{
    float: right;
    /*    width: 60%;*/
    height: 30px;
    /*    border: 1px solid #ccc;*/
    padding: 0;
    box-sizing: border-box;
    position: relative;
    margin: 20px 37px 0 0;
    /*    transition: all 0.6s ease !important;
	-webkit-transition: all 0.6s ease !important;
	-moz-transition: all 0.6s ease !important;*/
}
.surveySearch.activeSearch{
    width: 80%;
}
.surveySearch input{
    float: left;
    border: 0;
    outline: none;
    background: transparent;
    padding: 0 10px;
    margin: 0;
    height: 100%;
    width: 80%;
}
.surveySearch span{
    position: absolute;
    right: 2px;
    top: -1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.surveySearch span i{
    top: 50%;
    bottom: inherit;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.pageLable h3.main_question{
    margin: 20px 0 0 0;
}
html body textarea.form-control{
    width: 100%;
    min-height: 170px;
    max-height: 200px;
    resize: vertical;
}

main.main-Qare #form_container{
    position: relative;
}
main.main-Qare #form_container > .row > .col-md-5{
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
}
main.main-Qare #form_container > .row > .col-md-5 #left_form{
    height: 100%;
}
main.main-Qare #form_container #middle-wizard{
    padding: 45px 45px 70px 15px;
}
.multiImage .multiImgGrid{
    float: left;
    width: 50%;
}
.multiImage .multiImgGrid select{
    width: 90%;
}

.multiImgOverlay{
    width: 220px;
    height: 220px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.slctImg{
    width: 100%;
    height: 100%;
    transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
}
.imgOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
/*.multiImgOverlay .imgOverlay:before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    background: transparent;
    border: 1px solid #fff;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);    
}*/
.imgOverlay > i{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
}
.multiImgOverlay:hover .imgOverlay{
    opacity: 1;
    -webkit-transform: translate3d(0%,0%,0) rotate3d(0,0,1,0deg) scale3d(1,1,1);
    transform: translate3d(0%,0%,0) rotate3d(0,0,1,0deg) scale3d(1,1,1);
}
.multiImgOverlay:hover .slctImg{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.left_form_img{
    width: 100%;
    height: 160px;
}
.left_form_img img{
    max-width: 100%;
    height: 160px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.lft_iconImg{
    float: none;
    margin: 0 auto;
    display: none;
}
.lft_iconImg.activeImg{
    display: block;    
}
.surveyNum span{
    /*    float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #409fff;
	text-align: center;
	font-size: 14px;
	line-height: 31px;
	color: #fff;
	margin-top: 20px;*/
    float: left;
    width: 60px;
    height: 30px;
    background: #faa531;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}
.surveyListing.dEt a{
    pointer-events: none;
}
.surveyListing.dEt a h3.main_question p,
.surveyListing.dEt a h3.main_question span{
    color: #409fff;
}
.surveyListing.dEt a h3.main_question > strong{
    float: left;
    width: 40%;
    color: #000;
    font-style: normal;
}
.surveyListing.dEt.filledQuestionDet a h3.main_question > strong{
    width: 30%;
}
.surveyListing.dEt.filledQuestionDet a h3.main_question span{
    white-space: inherit;
    display: block;
}
.SingleSurveyDetails .surveyListing.dEt.filledQuestionDet a h3.main_question span{
    float: left;
    width: 60%;
}
.likeListing.surveyListing h3{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    position: relative;
    line-height: normal;
    padding-left: 3px;
    outline: none;
    margin-top: 7px;
    color: #555;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.likeListing .fBLogin{
    padding: 5px 9px;
    color: #fff;
    font-size: 13px;
    background: #409fff;
}
.profileLable{
    width: 85%;
}
.surveyNum span.editProfile{
    cursor: pointer;
    margin-top: 15px;
    position: relative;
}
.surveyNum span.editProfile:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    margin: 0 !important;
    padding-left: 2px;
}
.porfileList h3.main_question strong{
    float: left;
    width: 25%;
    margin-top: 10px;
    color: #000;
    font-style: normal;
}
.porfileList input{
    float: left;
    width: 70%;
    border: 0;
    padding: 10px 20px;
    outline: none;
    color: #409fff;
    background: none;
}
.porfileList .span-profile{
    float: left;
    width: 70%;
    border: 0;
    padding: 2px 5px;
    outline: none;
    color: #555;
    background: none;
}
.porfileList .span-profile span{
    float: left;
}
.main-Qare .alert .message-inner-separator{
    margin: 7px 0 30px 0;
    margin-bottom: 10px;
}
.main-Qare .alert{
    margin-bottom: 0;
    margin-top: 15px;
}
.main-Qare .alert p{
    margin: 0 0 0 0;
}
.main-Qare .profile-message{
    padding-right: 15px !important;
    padding-left: 0px !important;
}

.allSurveys.userProfile{
    height: auto;
    margin-bottom: 50px;   
}
html body ul.cd-primary-nav{
    padding: 60px 0 0 0;
}
html body ul.cd-primary-nav li{
    margin: 2.2em 0;
}
.fBLogin.resetBtn{
    padding: 5px 20px;
    margin-bottom: 30px;
}
.modal.modal-small{
    top: 50%;
    bottom: inherit;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.main-Qare.likes-Qare #wizard_container{
    height: auto;
    float: left;
    padding-bottom: 50px;
    width: 100%;
}
.jplist-pagination{
    margin: 10px 10px 15px 30px;
}
.SearchModal{
    float: left;
    width: 100%;
}
.SearchModal .modal-body{
    margin-bottom: 20px;
    float: left;
    height: 270px;
    overflow-y: auto;
    width: 100%;
}
.SearchModal .modal-body .no-record{
    float: left;
    margin-left: 35px;
    margin-top: 15px;
    color: #999;
    font-size: 18px;
}
.SearchModal .modal-footer{
    float: left;
    width: 100%;
}
/*.SearchModal .modal-footer button{
    font-weight: normal;   
    opacity: 1 !important;
    color: #fff;
    background: #409fff;
    background-color: #409fff;
    border: 1px solid #409fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    width: 60px;
}*/
.SearchModal .modal-header .surveySearch{
    width: 100%;
    float: left;
    height: 50px;
    margin: 0 0 0 0;
    padding: 0 15px;
}
.SearchModal .modal-header .modalSearch{
    font-size: 18px !important;
    letter-spacing: 0.5px !important;
    font-family: arial !important;
    padding: 3px !important;
}
.SearchModal .modal-header .modalSearch + span{
    /*    right: 52px;
	top: 6px;*/
    right: 10px;
    top: 9px;
}
.SearchModal .surveyListing{
    padding-left: inherit;
}
.surveySearch.likeSurveySearch{
    margin: 13px 26px 0 0;
}
.surveySearch.likeSurveySearch i{
    cursor: pointer;
}
.surveySearch.likeSurveySearch i + i{
    margin-right: 30px;
}
.modalWarning{
    text-align: center;
    padding: 20px;
}
.icon-cancel-circled-1{
    opacity: 0.7;
}
.modal-small .modal-dialog{
    width: 500px;
}
.fBLogin:hover,
button.confirm.btn.btn-lg.btn-primary:hover,
button.forward:hover, button.backward:hover , button.submit:hover{
    background: #333 !important;
    background-color: #333 !important;
    color: #fff !important;
}
.fancybox-wrap {
    top: 101px !important;
}
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened{
    width: 70% !important;
    height: 70% !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin{
    width: auto !important;
    height: auto !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin .fancybox-outer{
    width: auto !important;
    height: auto !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin .fancybox-outer .fancybox-prev{
    display: none !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin .fancybox-outer .fancybox-next{
    display: none !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin .fancybox-outer .fancybox-inner{
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin .fancybox-outer .fancybox-inner .fancybox{
    width: auto !important;
    height: auto !important;
    pointer-events: none !important;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin .fancybox-outer .fancybox-inner .fancybox .multiImgOverlay{
    width: auto !important;
    height: auto !important;
}
#bottom-wizard .pagination{
    display: inherit;
    pointer-events: none;
    margin-left: 60px;
}
#bottom-wizard .pagination .page-link{
    float: left;
    background: #faa531;
    color: #fff;
}

@media(max-width:1025px){
    .multiImage .multiImgGrid{
        float: left;
        width: 49%;
    }
    .multiImage .multiImgGrid:nth-child(2n + 2){
        float: right;
    }
    .multiImgOverlay{
        width: auto;
        height: 80%;
        max-height: 200px;
    }
}
@media(max-width:991px){
    .likeListing .fBLogin{
        padding: 5px;
        color: #fff;
        font-size: 13px;
        background: #409fff;
        width: 36px;
        float: left !important;
        margin: 5px 10px 10px 5px;
    }
    main.main-Qare #form_container #middle-wizard {
        padding: 45px 45px 0px 15px;
    }
    html body #wizard_container{
        float: left;
        min-height: 400px;
        height: auto;
        padding-bottom: 70px;
    }
    html body .loginPage #wizard_container{
        float: none;
    }
    .allSurveys{
        height: auto;
        display: block;
        overflow: hidden;
        float: left;
        width: 100%;
    }
    ul.allSurveys.row{
        margin-left: 0;
        margin-right: 0;
    }
    .surveyListing{
        padding-bottom: 0;
        float: left;
        width: 100%;
    }
    .surveyListing + .surveyListing{
        margin-top: 0;
    }
    .surveyListing a{
        float: left;
        width: 100%;
        padding: 12px 0;
    }
    .surveyListing a h3{
        float: left;
        width: 100%;
        margin: 0 0 6px 0;
    }
    main.main-Qare #form_container > .row > .col-md-5{
        position: inherit;
        left: inherit;
        top: inherit;
        bottom: inherit;
    }
    main.main-Qare #form_container > .row > .col-md-5 #left_form{
        height: auto;
    }
    .multiImage .multiImgGrid,
    .multiImage .multiImgGrid:nth-child(2n + 2){
        float: left;
        width: 220px;
    }
    .multiImgOverlay{
        width: 200px;
        height: 200px;
    }
    .questionareRM{
        float: left;
        width: 100%;
        padding: 0 10px;
    }
    .questionareRM #wizard_container{
        width: 100%;
    }
}
@media (max-width: 767px){    
    html body #wizard_container{
        min-height: 250px;
    }
    #left_form .left_form_img img{
        float: left;
        margin-right: 0;
        width: auto;
        height: 100%;
    }
    .loginMain{
        width: 95%;
    }
    .loginMain h3.main_question{
        text-align: center;
    }
    footer ul{
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
@media (max-width: 737px){
    .multiImage .multiImgGrid, 
    .multiImage .multiImgGrid:nth-child(2n + 2){
        width: 210px;    
    }
    .multiImgOverlay{
        width: 190px;
        height: 190px;
    }
}
@media (max-width: 707px){
    .multiImage .multiImgGrid, 
    .multiImage .multiImgGrid:nth-child(2n + 2){
        width: 49%;    
    }
    .multiImage .multiImgGrid:nth-child(2n + 2){
        float: right;
    }
    .multiImgOverlay {
        width: 220px;
        height: 220px;
    }
}
@media (max-width: 560px){
    .multiImage .multiImgGrid, 
    .multiImage .multiImgGrid:nth-child(2n + 2){
        width: 49%;    
    }
    .multiImage .multiImgGrid:nth-child(2n + 2){
        float: right;
    }
    .multiImgOverlay {
        width: 170px;
        height: 170px;
    }
}
@media(max-width:470px){
    .pageLable{
        width: 100%;
    }
    .pageLable + .col-md-6 {
        width: 100%;
    }
    .surveySearch{
        float: left;
        width: 100%;
        margin: 20px 0 0 0;
    }
}
@media (max-width: 440px){
    .multiImage .multiImgGrid, 
    .multiImage .multiImgGrid:nth-child(2n + 2){
        float: left;
        width: 250px;    
    }
    .multiImgOverlay {
        width: 250px;
        height: 250px !important;
        float: left;
        max-height: inherit;
    }
}
