<fragment>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
	    <b>Version</b> 1.0.0
        </div>
        <strong>Copyright copy 2017-2018 <a href="#">BrandVibe</a>.</strong> All rights reserved.
    </footer>
    <div>
	<!-- Footer Scripts -->
	<script>
	    $( function () {
		//iCheck for checkbox and radio inputs
		$( 'input[type="checkbox"].minimal, input[type="radio"].minimal' ).iCheck( {
		    checkboxClass: 'icheckbox_minimal-blue',
		    radioClass: 'iradio_minimal-blue'
		} );

		$( '.datepicker' ).datepicker( {
		    // setDate: '0',
		    dateFormat: 'dd MM, yy',
		    changeMonth: true,
		    changeYear: true
		} ); // .datepicker( 'setDate', new Date() )
		$( '.select2' ).select2();
		$( '.tagged-input' ).tagsinput( 'items' );
		$( '[data-toggle="tooltip"]' ).tooltip();
		$( '.dataTable' ).dataTable();
		$( '.toggle-control-sidebar' ).click( function () {
		    $( '.details-panel' ).toggleClass( 'control-sidebar-open' );
		} );
	    } );
	</script>
    </div>
</fragment>