<fragment>
    <header class="main-header">
        <a href="index2.html" class="logo">
	    <span class="logo-mini"> <b>BV</b> </span>
	    <span class="logo-lg"> Brand<b>Vibe</b> </span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
	    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		<span class="sr-only">Toggle navigation</span>
	    </a>
	    <div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
		    <li class="dropdown user user-menu">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    <img src="/assets/dist/img/avatar5.png" class="user-image" alt="User Image" />
			    <span class="hidden-xs user-name">Adil Waqas</span>
			</a>
			<ul class="dropdown-menu">
			    <li class="user-header">
				<img src="/assets/dist/img/avatar5.png" class="img-circle" alt="User Image" />
				<p>
				    <span class="user-name">Adil Waqas - Web Developer</span>
				    <small>Member since <span id="user-registration-date"> Nov. 2012</span></small>
				</p>
			    </li>
			    <li class="user-footer">
				<div class="pull-left">
				    <a href="#" class="btn btn-default btn-flat profile" id="profile">Profile</a>
				</div>
				<div class="pull-right">
				    <a href="#" class="btn btn-default btn-flat signout" id="signout">Sign out</a>
				</div>
			    </li>
			</ul>
		    </li>
		    <!--
			<li>
			    <a href="#" data-toggle="control-sidebar"> <i class="fa fa-gears"> </i> </a>
			</li>
		    -->
		</ul>
	    </div>
        </nav>
    </header>
</fragment>
