<fragment>
    <div class="modal survey-short-link">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Generate Public URL</h4>
                </div>
                <div class="modal-body modal-main">
		    <div class="loader-main">
			<div class="loader-inner"> </div>
			<div class="loader-section"></div>
		    </div>
		    <div class="form-group">
			<input type="hidden" class="shirt-data-til" data-method="" data-action="" data-id="" />
			<label for="valid-til">Valid Till </label>
			<input type="text" class="valid-til form-control" data-required="true" name="valid-til" value="" placeholder="Please select a date" />
		    </div>
		    <div class="input-group">
			<input type="text" id="copy-link" class="copy-link form-control" name="copy-link" value="" placeholder="" disabled="disabled" />
			<span class="input-group-addon"> <i class="fa fa-copy"> </i> </span>
		    </div>
                </div>
                <div class="modal-footer">
		    <button type="button" class="btn btn-primary generate-short-link">Generate</button>
		</div>
            </div>
        </div>
    </div>
    <div class="modal survey-preview-model">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal survey-publish-model">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="publish_survey_form" action="" method="POST">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
			<span class="label label-info pull-right">Target Audience <span class="badge audiance-count">0</span></span>
                        <h4 class="modal-title">Publish Survey</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="action" name="action" value="" />
                        <input type="hidden" id="survey_id" name="survey_id" value="" />
                        <input type="hidden" id="audiance_count" name="audiance_count" value="" />
			<div class="loader-main">
			    <div class="loader-inner"> </div>
			    <div class="loader-section"></div>
                        </div>
			<!--
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter your advert set name here..."/>
                        </div>
                        <hr/>
                        -->
                        <div class="form-group">
                            <label>Demographics</label>
                            <select class ="form-control form-control select2" multiple="multiple" name ="demographics" id ="demographics">
                                <optgroup>
                                    <option value="0" data-parent="0">Please select an option</option>
                                    <option class="static-entry">Body Corporate</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <!--<input type="text" name="location" class="form-control geoComplete" id="autocomplete" onfocus="geolocate();" placeholder="Enter location"/>-->
                            <select class="form-control select2" multiple="multiple" name ="location" id ="location">
				<option value="0" data-parent="0">Please select location</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Education</label>
                            <select class ="form-control select2" multiple="multiple" name ="education" id ="education">
                                <optgroup label="education">
                                    <option value="0" data-parent="0">Please select education</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Age</label>
			    <select class="form-control select2" multiple="multiple" data-required="true" id="age" name="age">
				<option value="10-20">10 - 20</option>
				<option value="20-30">20 - 30</option>
				<option value="30-40">30 - 40</option>
				<option value="40-50">40 - 50</option>
				<option value="50+">50+</option>
			    </select>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="btn-group btn-group-justified gender">
                                <input type="hidden" name="grender" id="gender" value="all" />
                                <a href="javascript:void(0);" class="btn btn-default active" data-value="all">All</a>
                                <a href="javascript:void(0);" class="btn btn-default" data-value="male">Men</a>
                                <a href="javascript:void(0);" class="btn btn-default" data-value="female">Women</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Relationship Type</label>
                            <select class="form-control select2" id="relationship" multiple="multiple" name="relationship">
				<option value="0">Please select a relationship type</option>
                            </select>
                        </div>
                        <div class="form-group">
			    <input type="checkbox" class="zero-audience" id="zero-audience" name="zero-audience" value="1" />
                            <label>Zero Audience</label>
                        </div>
			<!--
                        <div class="form-group audience-email">
                            <label>Custom Audiences</label>
                            <select class="form-control select2" id="audiences" multiple="multiple" name="custom_audiences">
                                <optgroup label="audeince">
                                    <option value="0" data-parent="0">Please select Audience</option>
                                </optgroup>
                            </select>
                            <input type="text" name="custom_audiences" class="form-control tagged-input" placeholder="Enter emails"/>
                        </div>
			-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save">Publish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal question-model" id="question-model" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form data-select="question" id="question_form" action="" method="POST">
                    <input type="hidden" name="action" id="action" class="action" value="" />
                    <input type="hidden" id="question_id" class="question_id" value="" name="question_id" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Add Question</h4>
                    </div>
                    <div class="modal-body form-group">
                        <div class="col-md-12 question">
                            <h4> Question </h4>
                            <div class="col-md-8">
                                <input class="form-control border-bottom question-title" id="question-title" name="question-title" placeholder="Question title" type="text" data-required="true" value="" />
                            </div>
                            <div class="col-md-4 form-group">
                                <select class="form-control question-type border-bottom" data-required="true" name="question-type" id="question-type">
                                    <option value=""> </option>
                                </select>
                            </div>
                            <div class="options" style="">
                                <div class="form-group option radio-section" style="display: none;">
                                    <div class="col-md-12 multiple">
                                        <i class="ion-android-radio-button-off"> </i>
                                        <input data-id="0" class="form-control" type="text" id="radio" placeholder="Option title" data-required="true" value="" />
                                        <i class="ion-android-close" data-type="radio"> </i>
                                    </div>
                                    <div class="col-md-12 add-more-button" data-type="radio">
                                        <a href="javascript:void(0);"> 
                                            <i class="fa fa-plus-square-o"> </i> Add option
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group option checkbox-section" style="display: none;">
                                    <div class="col-md-12 multiple">
                                        <i class="ion-android-checkbox-outline-blank"> </i>
                                        <input data-id="0" class="form-control" type="text" id="checkbox" placeholder="Option title" data-required="true" value="" />
                                        <i class="ion-android-close" data-type="checkbox"> </i>
                                    </div>
                                    <div class="col-md-12 add-more-button" data-type="checkbox">
                                        <a href="javascript:void(0);"> 
                                            <i class="fa fa-plus-square-o"> </i> Add option
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group option short-section" style="display: block;">
                                    <div class="col-md-12">
                                        <input data-id="0" type="text" name="text-field" class="form-control" disabled="disabled" />
                                        <i class="ion-android-close" data-type="short"> </i>
                                    </div>
                                </div>
                                <div class="form-group option long-section" style="display: none;">
                                    <div class="col-md-12 long">
                                        <input data-id="0" type="text" name="text-field" class="form-control" disabled="disabled" />
                                        <i class="ion-android-close" data-type="long"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr/>
                        </div>
                        <div class="col-md-12 display">
                            <h4> Answer </h4>
                            <h5 id="question-title"> - </h5>
                            <div class="form-group option radio-section" style="display: none;">
                                <div class="col-md-12 entry">
                                    <input type="radio" data-required="true" name="radio" id="radio" value="" /> 
                                    <label for="radio">Yes</label>
                                </div>
                                <div class="col-md-12 static-entry">
                                    <input type="radio" name="" value="" /> No
                                </div>
                            </div>
                            <div class="form-group option checkbox-section" style="display: none;">
                                <div class="col-md-12 entry">
                                    <input type="checkbox" data-required="true" name="checkbox[]" id="checkbox" value="" />
                                    <label for="checkbox">Yes</label>
                                </div>
                                <div class="col-md-12 static-entry">
                                    <input type="checkbox" name="" value="" /> No
                                </div>
                            </div>
                            <div class="form-group option short-section" style="display: block;">
                                <input type="text" name="short" data-required="true" class="form-control tagged-input" value="" placeholder="Enter valid keywords" />
                            </div>
                            <div class="form-group option long-section" style="display: none;">
                                <input type="text" name="long" data-required="true" class="form-control tagged-input" value="" placeholder="Enter valid keywords" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</fragment>