<div class="page dashboard" data-script="dashboard" data-runner="dashboard" data-page="dashboard">
    <div class="navbar">
        <div class="navbar-inner">
	    <div class="left">
		<a href="#" class="link icon-only open-panel"> <i class="f7-icons theme-white">bars_filled</i> </a>
	    </div>
            <div class="center">Dashboard</div>
	    <!--
	    <div class="right">
                <a href="#" class="link icon-only open-panel"> <i class="f7-icons theme-white">bars</i> </a>
            </div>
	    -->
        </div>
    </div>
    <div class="page-content">
        <!--<div class="notification" style="float:right;width:50%;">
            <div class="col-50"> <a href="#" class="button button-big button-green lg-fb-btn" style="height: 30px;width: 30px;font-size: 9px;float: right;line-height: 30px;">Logout</a>                </div>
        </div>-->
	<div class="content-block-title" style="display:none">Recent Surveys</div>
	<div class="list-block media-list" style="display:none;">
	    <ul class="recent-survey">
		<li>
		    <a href="#" class="link item-link item-content">
			<div class="item-inner">
			    <div class="item-title-row">
				<div class="item-title"></div>
				<div class="item-after"></div>
			    </div>
			    <div class="item-text"></div>
			</div>
		    </a>
		</li>
	    </ul>
	</div>
	<div class="content-block-title">All Available Surveys</div>
	<div class="list-block media-list">
	    <ul class="all-survey">
		<li>
		    <a href="#" class="link item-link item-content">
			<div class="item-inner">
			    <div class="item-title-row">
				<div class="item-title"></div>
				<div class="item-after"></div>
			    </div>
			    <div class="item-text"></div>
			</div>
		    </a>
		</li>
	    </ul>
	</div>
	<!--
	<div class="content-block-title">All Available Surveys</div>
	<div class="card">
	    <div class="card-content">
		<div class="list-block">
		    <ul class="all-survey">
			<li>
			    <a href="#" class="link item-link item-content">
				<div class="item-inner">
				    <div class="item-title">Link 1</div>
				    <div class="item-after"> 
					<span class="badge theme-new-blue form_publish_date">2017-07-04</span>
				    </div>
				</div>
			    </a>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
	-->
    </div>
</div>