<div class="page dashboard" data-script="filled_surveys" data-runner="filled_surveys" data-page="filled_surveys">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/dashboard.html" class="link icon-only open-indicator"> <i class="icon icon-back theme-white"></i> </a>
            </div>
            <div class="center">Filled Surveys</div>
	    <!--
	    <div class="right">
                <div class="notification"> <a href="#" ><i class="f7-icons theme-white">bell_fill</i></a> </div>
            </div>
	    -->
        </div>
    </div>
    <div class="page-content">
        <!--<div class="notification" style="float:right;width:50%;">
            <div class="col-50"> <a href="#" class="button button-big button-green lg-fb-btn" style="height: 30px;width: 30px;font-size: 9px;float: right;line-height: 30px;">Logout</a>                </div>
        </div>-->
	<div class="content-block-title">
	    Earned Amount 
	    <span class="badge pull-right earned-amount">0</span>
	</div>
	<div class="list-block media-list">
	    <ul class="filled-survey">
		<li>
		    <a href="#" class="link item-link item-content">
			<div class="item-inner">
			    <div class="item-title-row">
				<div class="item-title"></div>
				<div class="item-after"></div>
			    </div>
			    <div class="item-text"></div>
			</div>
		    </a>
		</li>
	    </ul>
	</div>
    </div>
</div>