<div class="page likes" data-script="likes" data-runner="likes" data-page="likes">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/dashboard.html" class="link icon-only open-indicator"> <i class="icon icon-back theme-white"></i> </a>
            </div>
            <div class="center">User Likes</div>
            <div class="right">
                <a href="#" class="link icon-only"> <i class="icon icon-bars"></i> </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="data-table card">
            <table>
                <thead>
                    <tr>
                        <th class="label-cell"> Likes </th>
                    </tr>
                </thead>
                <tbody> </tbody>
            </table>
        </div>
    </div>
</div>
