<div data-page="login" data-script="login" data-runner="login" class="login page no-navbar">
    <div class="page-content">
        <div class="row content-block">
            <div class="col-100">
                <div class="info-circle"> <i class="fa fa-user fa-4x"> </i> </div>
            </div>
        </div>
        <div class="row content-block heading">
            <div class="col-100">
                <h1> Login </h1>
		<div class="list-block" style="margin-top:100px;">
		    <div data-role="main" class="ui-content"> 
			<button class="button button-fill button-big login-button col-100">Login using Facebook</button>
		    </div>
		</div>
		<!--<div class="list-block">-->
		<!--<ul>-->
		<!--<li> <a href="pages/sign-up.html" id="login_btn" class="item-link list-button">Sign up</a> </li>-->
		<!--<li>
		<a href="pages/dashboard.html" id="login_btn" class="item-link list-button">Dashboard</a> </li>
		<li> <a href="pages/home.html" id="login_btn" class="item-link list-button">Sign In</a> </li>
		<li>
		<a href="pages/notification.html" id="login_btn" class="item-link list-button">Notification</a>                                </li>
		<li> <a href="pages/new-survey.html" id="login_btn" class="item-link list-button">Terms & Condition</a>                                </li>-->
		<!--</ul>-->
		<!--</div>-->
            </div>
        </div>
    </div>
</div>