<div class="page profile" data-script="profile" data-runner="profile" data-page="profile">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/dashboard.html" class="link icon-only open-indicator"> <i class="icon icon-back theme-white"></i> </a>
            </div>
            <div class="center">Profile</div>
            <div class="right">
                <a href="#" class="link icon-only"> <i class="icon icon-bars"></i> </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="card facebook-card">
            <div class="card-header">
                <div class="card-header no-border">
                    <div class="facebook-avatar"> <img src="assets/imgs/default-user.png" width="34" height="34" class=""> </div>
                    <div class="facebook-name"></div>
                </div>
            </div>
            <div class="card-content">
                <form action="" id="profile-form">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Name</div>
                                        <div class="item-input"> <input type="text" id="name" name="name" placeholder="Your name" /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">E-mail</div>
                                        <div class="item-input"> <input type="email" id="email" name="email" placeholder="E-mail" /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">CNIC</div>
                                        <div class="item-input"> <input type="text" id="cnic" name="cnic" placeholder="CNIC" /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Age</div>
                                        <div class="item-input"> <input type="number" id="age" name="age" placeholder="Age" /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Gender</div>
                                        <div class="item-input"> <select id="gender" name="gender">
						<option value="male">Male</option>
						<option value="female">Female</option>
					    </select> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label" style="width: 50%">Relationship Status</div>
                                        <div class="item-input"> <select id="relationship_status" name="relationship_status">
						<option value="single">Single</option>
						<option value="engaged">Engaged</option>
						<option value="married">Married</option>
						<option value="seperated">Separated</option>
						<option value="widowed">Widowed</option>
					    </select> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Birth date</div>
                                        <div class="item-input"> <input type="date" id="dob" name="birthday" placeholder="Birth date" value="2014-04-30"
                                            /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Home Town</div>
                                        <div class="item-input"> <input type="text" readonly="readonly" id="hometown" placeholder="Home Town" value=""
                                            /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Education</div>
                                        <div class="item-input"> <input type="text" readonly="readonly" id="education" placeholder="Education" value=""
                                            /> </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Work History</div>
                                        <div class="item-input"> <input type="text" readonly="readonly" id="work" placeholder="Work History" value=""
                                            /> </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="card-footer"> <button style="width: 100%;" class="col-100 button button-fill save">Save</button> </div>
        </div>
    </div>
</div>