<div class="page survey-questions" data-script="survey" data-runner="survey" data-page="survey-questions">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/dashboard.html" class="link icon-only open-indicator"> <i class="icon icon-back theme-white"></i> </a>
            </div>
            <div class="center survey-title">New Survey</div>
            <div class="right">
                <a href="#" class="link icon-only abort-survey"> <i class="f7-icons theme-white">close_filled</i> </a>
            </div>
        </div>
    </div>
    <div class="wrapper question_main">
        <div class="survey-form question_inner">
            <div class="question short-section" style="display: none;">
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option"> 
			<input type="text"/>
		    </div> 
		</div> 
	    </div> 
            <div class="question long-section" style="display: none;">
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option"> 
			<textarea> </textarea>
		    </div> 
		</div> 
	    </div> 
            <div class="question radio-section" style="display: none;">
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option"> 
			<input type="radio"/> 
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		    </div> 
		</div> 
	    </div>
            <div class="question checkbox-section" style="display: none;">
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option"> 
			<input type="checkbox"/> 
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		    </div> 
		</div> 
	    </div>

	    <div class="question multi-image-section" style="display: none;">
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option">
			<img class="option-image" src="https://www.ravensbourne.ac.uk/content/img/default-employer-profile.png" />
			<input type="checkbox" class="option-chk"/>
			<span class="correct-option">Option Test </span>
		    </div> 
		</div> 
	    </div>

	    <div class="question single-image-section" style="display: none;">
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option">
			<img class="option-image" src="https://www.ravensbourne.ac.uk/content/img/default-employer-profile.png" />
			<input type="radio" class="option-chk"/>
			<span class="correct-option">Option Test </span>
		    </div> 
		</div> 
	    </div>
	    <div class="question rating-image-section" style="display: none;">
		<button type="button" style="float: right;" class="button button-fill reset">Reset</button>
		<div class="Q-num question_title">
		    <p>
			Q1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Sed pharetra nisi sit amet ultricies molestie.?
		    </p>
		</div>
		<div class="answers">
		    <div class="A-num option">
			<img class="option-image" src="https://www.ravensbourne.ac.uk/content/img/default-employer-profile.png" />
			<span class="tittle">Option Test</span>
			<div class="item-input">
			    <select class="select" style="width: 100%">
				<option value="1">1</option>
				<option value="2">2</option>
			    </select>
			</div>
		    </div> 
		</div>
	    </div>

	    <div class="navigation-buttons">
		<button type="button" disabled="disabled" style="float: left;" class="button button-fill prev">Prev</button>
		<button type="button" style="float: right;" class="button button-fill next">Next</button>
		<button type="button" style="float: right; display: none;" class="button button-fill submit">Submit</button>
	    </div>
	</div>
    </div>
</div>
