<div class="page survey_view" data-script="survey_view" data-runner="survey_view" data-page="survey_view">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/filled_surveys.html" class="link icon-only open-indicator"> <i class="icon icon-back theme-white"></i> </a>
            </div>
            <div class="center">Survey Details</div>
        </div>
    </div>
    <div class="page-content">
	<div class="card facebook-card">
	    <div class="card-header">
		Details
		<!--
		<div class="card-header no-border">
		    <div class="facebook-avatar">
			<img src="/assets/imgs/default-user.png" width="34" height="34" class="">
		    </div>
		    <div class="facebook-name">John Doe</div>
		</div>
		-->
	    </div>
	    <div class="card-content">
		<div class="list-block">
		    <ul>
			<li>
			    <div class="item-content title">
				<div class="item-inner">
				    <div class="item-title label">Title</div>
				    <div class="item-input"> 
					<input type="text" disabled="disabled"/>
				    </div>
				</div>
			    </div>
			</li>
			<li>
			    <div class="item-content company">
				<div class="item-inner">
				    <div class="item-title label">Company</div>
				    <div class="item-input"> 
					<input type="text" disabled="disabled"/>
				    </div>
				</div>
			    </div>
			</li>
			<li>
			    <div class="item-content date">
				<div class="item-inner">
				    <div class="item-title label">Date Filled</div>
				    <div class="item-input"> 
					<input type="text" disabled="disabled" />
				    </div>
				</div>
			    </div>
			</li>
			<li>
			    <div class="item-content amount">
				<div class="item-inner">
				    <div class="item-title label">Amount Earned</div>
				    <div class="item-input"> 
					<input type="text" disabled="disabled" />
				    </div>
				</div>
			    </div>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</div>