/* GENERAL */

div[class*="col-"] {
    text-align: center;
}

.content-block {
    margin: 20px 0;
}

.row {
    margin-bottom: 5px;
}

.bottom-fixed {
    bottom: 0;
    margin-bottom: 0px;
}

.info-circle {
    width: 100px;
    height: 100px;
    float: none;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 60px;
    margin-top: 20%;
}

.info-circle i {
    color: #fff;
    line-height: 100px;
}

.heading h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 45px;
}

.heading p {
    text-align: center;
    font-size: 16px;
    text-shadow: none;
    color: #fff;
    margin-top: 0px;
}

.overlay {
    background: rgba(0, 0, 0, .9);
    display: block;
}

.theme-white {
    color: #fff;
}

.content-block-title {
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 0;
}

.text-left {
    text-align: left;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-navbar .page-content {
    padding-top: 0;
}

.login {
    background: #595854 !important;
}


/* SLIDER */

.theme-deeppurple .slider-section {
    border-top: 15px solid #003399;
    border-bottom: 15px solid #003399;
}


/* SWIPER */

.swiper-container {
    height: 100%;
}

.swiper-slide {
    background: #fff;
}

.swiper-slide span {
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 21px;
}


/* SMART SELECT */

.smart-select-page .navbar {
    color: #fff;
}

.smart-select-page .navbar .back i {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
}


/* PICKER MODEL */

.picker-modal .toolbar .close-picker {
    color: #444;
}


/* LIST BLOCKS */

.list-block.with-top {
    margin-top: 0;
}

.list-block .item-inner:after {
    background: none;
}

.list-block li {
    border-bottom: 1px solid #ddd;
}

/*.list-block li:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}*/

.theme-deeppurple .list-block li i {
    font-size: 26px;
    color: #039;
}

.theme-deeppurple .list-block li a .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23444'%2F%3E%3C%2Fsvg%3E");
    color: #444;
}

div.notifications .item-title {
    padding: 0 !important;
}

div.notifications .item-inner {
    color: #000 !important;
}
.web-view{
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(37deg, rgb(229, 243, 251) 0%, rgb(69, 156, 206) 100%);
}
.survey-form{
    max-height: 570px;
    overflow-y: scroll;
}
.web-view .wrapper {
    margin-top: 60px !important;
}

/*
.list-block li:hover {
    color: #fff;
    background: #039;
}

.theme-deeppurple .list-block li:hover a .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
    color: #fff;
}
*/


/*
 * LOADER
 */

.loader-logo {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /*display: none;*/
}

.loader-logo:after {
    width: 76px;
    height: 76px;
    z-index: 9999;
    content: '';
    display: block;
    background: url('../assets/images/loader.png') no-repeat center center;
    background-size: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -38px;
    margin-top: -38px;
    border-radius: 38px;
}

.loader-logo:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 76px;
    height: 76px;
    border-radius: 38px;
    z-index: 9999;
    content: '';
    display: block;
    -webkit-animation: loader 1.5s linear infinite;
    /* Safari 4+ */
    -moz-animation: loader 1.5s linear infinite;
    /* Fx 5+ */
    -o-animation: loader 1.5s linear infinite;
    /* Opera 12+ */
    animation: loader 1.5s linear infinite;
    /* IE 10+, Fx 29+ */
}

.theme-deeppurple .loader-logo:before {
    border: 2px solid #003399;
}


/****************** New Developer Design *******************/
.modal{
   z-index: 99999;
}


.layout-white .page {
    background: #ecf0f5;
}

.page .navbar {
    background: #3c8dbc;
    color: #fff;
}

.sign-up-form {
    margin: 30% auto 0;
    float: none;
    display: block;
    overflow: hidden;
    width: 94%;
    border-top: 3px solid #3c8dbc;
    border-radius: 3px;
    background: #fff;
}

.sign-up-feilds {
    padding: 5%;
    float: left;
    width: 90%;
}

.sign-up-feilds input {
    float: left;
    width: 100%;
    border: 1px solid #d2d6de;
    border-radius: 2px;
    color: #5b5b5b;
    padding: 10px 2%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.sign-up-feilds input:last-child {
    margin-bottom: 0;
}

a.submit {
    background: #3c8dbc;
    border: 1px solid #367fa9;
    padding: 8px 12px;
    float: right;
    margin-top: 15px;
    color: #fff;
    border-radius: 3px;
}

.wrapper {
    margin: 15% auto 0;
    float: none;
    display: block;
    overflow: hidden;
    width: 94%;
}

.wrapper .notification {
    float: left;
    width: 100%;
    text-align: right;
}

.wrapper .notification i {
    font-size: 25px;
    color: #3c8dbc;
}

.dashboard-btns {
    float: left;
    width: 100%;
    margin-top: 45%;
}

.dashboard-btns a {
    background: #3c8dbc;
    border: 1px solid #367fa9;
    padding: 8px 0;
    float: right;
    margin-top: 15px;
    color: #fff;
    border-radius: 3px;
    width: 99.6%;
    text-align: center;
}

.notification-msg {
    float: left;
    width: 100%;
    margin-top: 5%;
}

.notification-msg .notification-msg-text {
    float: left;
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #3c8dbc;
    margin-bottom: 10px;
}

.notification-msg .notification-msg-text:last-child {
    margin-bottom: 0;
}

.notification-msg .notification-msg-text .close-btn {
    float: right;
    margin-bottom: 2px;
}

.notification-msg .notification-msg-text p {
    float: left;
    width: 92%;
    margin: 0;
    font-size: 15px;
}

.notification-msg .notification-msg-text .close-btn a {
    float: right;
}

.notification-msg .notification-msg-text .close-btn a i {
    font-size: 20px;
    color: #3c8dbc;
}

.TandC-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
}

.TandC-popup .bg-popup {
    position: absolute;
    background: #3c8dbc;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.TandC-popup .main-data-popup {
    width: 94%;
    float: none;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.TandC-popup .main-data-popup h1 {
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 4.4%;
}

.TandC-popup .main-data-popup .popup-terms {
    float: left;
    width: 100%;
    overflow: auto;
    height: 78.6%;
    color: #fff;
}

.TandC-popup .main-data-popup .popup-terms p {
    float: left;
    width: 100%;
    margin-top: 0;
}

.TandC-popup .main-data-popup .accept-condition {
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 4%;
}

.TandC-popup .main-data-popup .accept-condition input {
    float: left;
}

.TandC-popup .main-data-popup .accept-condition p {
    float: left;
    width: 90%;
    margin: 0;
}

.wrapper .survey-form {
    padding: 5%;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-top: 3px solid #3c8dbc;
    border-radius: 3px;
    background: #fff;
}
.wrapper .survey-form .question.image-section {
    max-height: 315px;
    overflow: auto;
    margin-bottom: 10px;
}

.wrapper .survey-form .Q-num {
    float: left;
    width: 100%;
    margin-bottom: 4%;
}

.wrapper .survey-form .Q-num p {
    float: left;
    width: 100%;
    margin: 0;
}

.wrapper .survey-form .A-num {
    float: left;
    width: 100%;
    margin-bottom:6px; 
}

.wrapper .survey-form .A-num textarea {
    float: left;
    max-width: 99%;
    min-width: 99%;
    margin-left: 2px;
    padding: 5px;
    box-sizing: border-box;
    height: 80px;
    border:1px solid #656464;
}
.wrapper .survey-form .A-num input[type="radio"], 
.wrapper .survey-form .A-num input[type="checkbox"] {
    float: left;
    margin: 3px 0;
}
.wrapper .survey-form .A-num input[type="text"] {
    float: left;
    width: 97%;
    padding: 0 0 0 2%;
    margin: 0;
    height: 30px;
    border: 1px solid #656464;
}
.wrapper .survey-form .A-num p {
    float: left;
    width: 91%;
    margin: 0 0 0 2%;
}
.wrapper .survey-form .A-num img.option-image {
    width: 100%
}
@media screen and (max-width: 1200px) {
    .wrapper .survey-form .A-num img.option-image {
	width: 90%;
	height: auto;
	float: none;
	margin: 0 auto;
	display: block;
    }
}
@media screen and (max-width: 400px) {
    .wrapper .survey-form .A-num img.option-image {
	width: 90%;
	height: auto;
	float: none;
	margin: 0 auto;
	display: block;
    }
}
.select{
    width: 100%;
    padding: 5px 0;
    color: #3c8dbc;
    background: transparent;
    border: 1px solid #3c8dbc;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper .survey-form .A-num span.tittle {
    float: left;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 4px;
    text-align: center;
}

.wrapper .survey-form .A-num span.correct-option {
    font-size: 17px;
}

.question.checkbox-section {
    max-height: 390px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.wrapper .survey-form .A-num input.option-chk {
    float: left;
    margin: 5px 5px 0 0;
}

.facebook-card .card-header {
    display: block;
    padding: 10px;
}
.facebook-card .facebook-avatar {
    float: left;
}
.facebook-card .facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.facebook-card .facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}
.facebook-card .card-footer {
    background: #fafafa;
}
.facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
}
.facebook-card .card-content img {
    display: block;
}
.facebook-card .card-content-inner {
    padding: 15px 10px;
}  

.dashboard .list-block .item-text {
    height: auto !important;
}
/****************** Data Table *****************************/
.data-table {
    overflow-x: auto;
}
.data-table table {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    text-align: left;
    color: #000;
}
.data-table thead td, .data-table thead th {
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 16px;
}
.data-table td, .data-table th {
    padding: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    height: 44px;
}
.data-table td:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #c8c7cc;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

/****************** New Developer Design *******************/

@-webkit-keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-o-keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}


/* OVERRIDE CSS */

@media all and (max-width: 690px) {
    .bottom-fixed {
        position: fixed;
    }
}


/*ipad*/

@media only screen and (width: 768px) and (orientation: portrait) {
    .content-block {
        margin: 20px 0;
    }
}


/*android tab*/

@media only screen and (width: 600px) and (orientation: portrait) and (height: 1000px) {
    .content-block {
        margin: 20px 0;
    }
}


/*iphone6 / +*/

@media only screen and (min-width: 337px) and (max-width: 415px) and (orientation: portrait) and (min-height: 647px) and (max-height: 740px) {
    .content-block {
        margin: 35px 0;
    }
    .bottom-fixed {
        margin-bottom: 0px;
    }
}


/*iphone5 */

@media only screen and (width: 320px) and (orientation: portrait) and (min-height: 567px) and (max-height: 570px) {
    .content-block {
        margin: 20px 0;
    }
}


/*iphone4 */

@media only screen and (max-height: 480px) and (max-width: 320px) {
    .swiper-wrapper {
        height: 210px;
    }
    .content-block {
        margin: 10px 0;
    }
}

/*.navbar-fixed .page-content,*/ 
.navbar-through .page-content {
    padding-top: 0px;
}

.fb-btn {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #FFF;
    font-size: 20px;
    background: #039;
    border: none;
}

.icon-back {
    width: 24px !important;
}
.theme-new-blue{
    background: #3c8dbc;
}
