<div class="row">
    <div class="col-md-12">
	<div class="col-md-12 questions ">
	    <input type="hidden" id="questionnaire_id" class="questionnaire_id" value="questionnaire_id" name="questionnaire_id" />
	    <h4>Q: <span id="title">Are you a human?</span></h4>
	    <div class="options" style="">
		<div class="form-group radio-section" style="display: none;">
		    <div class="col-md-12 option">
			<i class="ion-android-radio-button-off"> </i>
			<span id="label" data-id="" data-answer="" data-value="">Option 1</span>
		    </div>
		</div>
		<div class="form-group checkbox-section" style="display: none;">
		    <div class="col-md-12 option">
			<i class="ion-android-checkbox-outline-blank"> </i>
			<span id="label" data-id="" data-answer="" data-value="">Option 1</span>
		    </div>
		</div>
		<div class="form-group short-section" style="display: none;">
		    <div class="col-md-12 option">
			<input id="label" data-id="" data-answer="" data-value="" type="text" value="" class="form-control" disabled="disabled" />
		    </div>
		</div>
		<div class="form-group long-section" style="display: none;">
		    <div class="col-md-12 option long">
			<input id="label" data-id="" data-answer="" data-value="" type="text" value="" class="form-control" disabled="disabled" />
		    </div>
		</div>
		<div class="form-group multi-image-section" style="display: none;">
		    <div class="col-md-12 option customStyled_box">
			<img class="preview-image" id="preview-multi-image" src="" />
			<!--<span id="label" data-id="" data-answer="" data-value="" class="previewTitle">Option 1</span>-->
			<div  class="col-md-12 customCenter">
			    <div class="row">
				<i class="ion-android-checkbox-outline-blank"> </i>
				<span id="value" data-id="" data-answer="" data-value="">Option 1</span>
			    </div>
			</div>
		    </div>
		</div>
		<div class="form-group single-image-section" style="display: none;">
		    <div class="col-md-12 option customStyled_box">
			<img class="preview-image" id="preview-single-image" src="" />
			<!--<span id="label" data-id="" data-answer="" data-value="" class="previewTitle">Option 1</span>-->
			<div  class="col-md-12 customCenter">
			    <div class="row">
				<i class="ion-android-radio-button-off"> </i>
				<span id="value" data-id="" data-answer="" data-value="">Option 1</span>
			    </div>
			</div>
		    </div>
		</div>
		<div class="form-group rating-image-section" style="display: none;">
		    <div class="col-md-12 option customStyled_box">
			<img class="preview-image" id="preview-rating-image" src="" />
			<!--<span id="label" data-id="" data-answer="" data-value="" class="previewTitle">Option 1</span>-->
			<div  class="col-md-12 customCenter">
			    <div class="row">
				<i class="ion-android-arrow-dropdown"> </i>
				<span id="value" data-id="" data-answer="" data-value="">Option 1</span>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>